/*CSS DA PAGINA INDEX INICIAL*/
.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*tera 2x, o tamanho padrão que é 16px*/
    margin: 0 0 1em;
    clear: left;  /*aqui ele limpa o float da classs ".pequeno" qe atinge a pagina*/
/*  text-shadow: 2px 2px #FF0000    - sombra no texto*/
}

/*manipulanto os titulos com a classe: .titulo-principal */
/*
.titulo-principal:first-letter{
    font-weight: bold;
}
.titulo-principal:before{
    content: "[";
}
.titulo-principal:after{
    content: "]";
}
*/

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}
.principal em {
    font-style: italic;
}

.pequeno{
    width: 120px;
    /*float: ; o float atinge toda  a pagina*/
    float: left; /*a img vai fluatuar a esquerda*/
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
    
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;   
    /* box-shadow: inset 0 0 30px #FF0000; */
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.itens {
    /*altura da linha*/
    line-height: 1.5; /*proporcional ao tamanho da fonte*/
}

/*usando o pseudo elemento :first-child, conseguimos alterar o primeiro elemento da lista*/
.itens:first-child{
    font-weight: bold;
}
.itens:before{
    content: "★";
}

.imagem-beneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #555555;
}
.imagem-beneficios:hover{
    opacity: 0.3;
}


.video{
    width: 560px;
    margin: 2em auto;
}                
                
                /*HEADER*/
body{
    font-family: 'Montserrat', sans-serif;
}                
header{
    background: #BBBBBB;
    padding: 20px 0; 
    /*espaçamento interno ,entre a margem e o conteudo */
}

.caixa {
    position: relative; 
        /*descolca o elemento, transborda em relacao a posicao inicial*/
    width: 940px; 
        /*alinhar uma div ao centro usa-se margin automático*/
    margin: 0 auto;
    
    
}

nav{
        /*posicionar o elemento em qlqr lugar da pag*/
    position: absolute;
    top: 110px;
    right: 0;    
}

nav li {
    /*tela em linha*/
    display: inline;
    /*espaçamento externo entre os itens de navegaçao*/
    margin: 0 0 0 15px;
}

nav a {
    /*todo o texto em maiusculo*/
    text-transform: uppercase; 
    color: #000000;
    /*peso da fonte negrito*/
    font-weight: bold;
    font-size: 22px;
    /*nenhuma decoraçao do texto*/
    text-decoration: none;
}

nav a:hover{
    /*cor e decoracao dos itens ao passar o mouse encima*/
    color:rgba(133, 115, 13, 0.829);
    text-decoration: underline;
}

            /*MAIN DE PRODUTOS*/
.produtos {
    width: 970px;
    margin: 0 auto;
    padding: 40px 0;
    /*  justify-content: space-evenly;  */
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 20%;   /*o tamanho de cada item*/
    vertical-align: top; /*alinhar pela linha de cima*/
    background: #CCCCCC;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box; 
    /*o tamanho do iten continua 20%, e o padding so vai agir internamente */
    border: 2px solid #000000;    
    border-top-width: 5px;
    border-radius: 10px 20px 30px 40px; /*arredondar as pontas das bordas*/
}

/*quando mouse(:hover) estiver por cima de li da classe produtos*/
.produtos li:hover {
    border-color:rgba(133, 115, 13, 0.829);    
}
/*quando mouse clicar e segurar*/
.produtos li:active{
    border-color:#088C19;
}
.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight:bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


            /*MAIN DE CONTATOS*/
main{
    
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block; /*alterando o item inline p/ bloco*/
    font-size: 20px;
    margin: 0 0 10px;
}
/*form input, form textarea*/
.input-padrao{
    display: block; /*alterando o item inline p/ bloco*/
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgba(255, 166, 0, 0.801);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;  /*para prover uma transição visual de um elemento.*/
    cursor: pointer; /*quando o mouse passar emcima ele muda para a maozinha*/
}
.enviar:hover{ /* quando mouser passar em cima*/
    background: rgb(85, 62, 20);
    transform: scale(1.2);  /*aumentar tamanho proporcionalmente ao passar o mouse*/
    transform: rotate(10deg); /* girar quando mouser passar em cima*/
}

table {
    margin: 20px 0 40px;
}
thead {
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th {
    border: 1px solid #000000;
    padding: 8px 16px;
}

/*FOOTER DE TODAS AS PAGINAS*/
footer {
    text-align: center;
    background:#888888;
    /*background: url("");*/
    padding: 40px 0 0;
}
.copyright{
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
}



/*MEDIA QUERY PARA CELULAR*/
@media screen and (max-width:480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios, .imagem-beneficios{
        width: 100%;
    }
}